body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    position: relative;
    z-index: 0;
}

/* Ici on modifie le header (la nav barre avec les liens, le logo et le bouton */
#container-header {
    display: flex;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 600;
    padding: 1rem;
    position: relative;
    z-index: 1;
    /* L'ombre passera par-dessus le main */
}

#container-logo-adrar {
    height: 100%;
    width: 20%;
}

#logo-adrar-img {
    left: 2rem;
    top: 5px;
    position: absolute;
    width: 65px;
    height: 85px;
}

#container-header-link {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
}

#container-header-link ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

}

#container-header-link ul li a {
    text-decoration: none;
    color: black;

}

#container-bouton-contact {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
}
#container-bouton-contact {
    flex: 0 0 auto;
    /* Ne grandit pas, ne rétrécit pas */
    margin-left: auto;
    /* Pousse le bouton vers la droite */
}

#bouton-contact {
    background-color: #171A22;
    color: white;
    padding: 0.4rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    white-space: nowrap;
}
#bouton-contact:hover {
    background-color: #45474E;
    color: white;
    padding: 0.4rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    white-space: nowrap;
}



/* ---------------------------------------------------- */

/* Ici on modifie le main */

main {
    width: 100%;
}

/* Ici on modifie le carousel */
/* Container global du carousel */
.carousel {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

/* container qui fait 300% de large (mais on affiche que 100%) */
.slides {
    display: flex;
    width: 300%; /* 3 slides, donc 300% */
    height: 100%;
    transition: transform 0.5s ease-in-out;
}


/* Chaque slide prend 1/3 de .slides(100% de large chacun du coup)*/
.slide {
    width: 33.33%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 200px;
    position: relative;
}

/* ici on modifie la couleur de chaque slide */
.slide:nth-child(1) {
    background-color: lightblue;
}

.slide:nth-child(2) {
    background-color: lightcoral;
}

.slide:nth-child(3) {
    background-color: lightsalmon;
}
/* ------------------------------------------- */

/* Texte h2 et p */
.slide h2 {
    color: white;
    margin-bottom: 10px;
    font-size: 40px;
    margin-bottom: 40px;
}
.slide p {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 40px;
}

/* Ici les boutons rond, on la place au millieu en bas de la slide */
.navigation-clic {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.navigation-clic label {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.navigation-clic label:hover {
    background: gray;
}
/* ------------------------------------------------------------------- */

/* défilement via transform */
#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-33.33%);
}

#slide3:checked ~ .slides {
    transform: translateX(-66.66%);
}

input[type="radio"] {
    display: none;
}

/* --------------------------------------------------------------- */
